html, body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background: #212121;
	color: #ddd;
	font-size: 1em;
	font-family: Arimo;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}

@font-face {
	font-family: Arimo;
	src: url(./font/Arimo-Regular.woff);
}

@font-face {
	font-family: FiraMono;
	src: url(./font/FiraMono-Regular.otf);
}

/* layout */

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.wrapper > .room-list-container {
	width: 240px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.room-list-container > .room-menu {
	height: 2.4em;
	background: #161616;
}

.room-list-container > .room-list {
	flex: 1;
}

.room-list-container > .main-menu {
	height: 2.4em;
	background: #161616;
}

.wrapper > .content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.content > .titlebar {
	height: 2.4em;
	background: #161616;
}

.content > .content-divider {
	display: flex;
	flex: 1;
}

.content-divider > .message-list-container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.message-list-container > .message-list {
	flex: 1;
}

.message-list-container > .messagebox {
	height: 2.4em;
	background: #161616;
}

.content-divider > .member-list {
	width: 240px;
	background: #161616;
}
