:root {
	--accent: #673ab7;
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-thumb {
	width: 0.5em;
	background-color: rgba(255, 255, 255, 0.1);
	background-clip: padding-box;
	border: 0.5em solid transparent;
	border-left: none;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

html, body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background: #212121;
	color: #ccc;
	font-size: 1em;
	font-family: Arimo;
	-webkit-user-select: none;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}

input, textarea, select {
	margin: 0.5em 0;
	border: none;
	outline: none !important;
	-webkit-appearance: none;
}

input[type="text"]:not(#messagebox), input[type="password"], textarea {
	height: 1.4em;
	padding: 0.25em 0.75em;
	margin: calc(0.5em + 5px) 5px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.75);
	font-family: Arimo;
	transition: margin 0.3s, border 0.3s;
}

textarea {
	resize: none;
}

input[type="text"]:not(#messagebox):focus, input[type="password"]:focus, textarea:focus {
	margin: 0.5em 0 !important;
	border: 6px solid var(--accent);
}

input[type="button"], input[type="submit"] {
	height: 2.1em;
	padding: 0.25em 0.75em;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
	border-radius: 1.05em;
}

.checkbox-container {
	width: 100%;
	display: flex;
	align-items: center;
}

input[type="checkbox"] {
	height: 1.4em;
	width: 2.4em;
	padding: 0 0.2em;
	background: rgba(0, 0, 0, 0.5);
	color: #ddd;
	position: relative;
	left: 0.55em;
	cursor: pointer;
	border-radius: 0.7em;
	transition: background 0.3s;
}

input[type="checkbox"]:checked {
	background: var(--accent);
}

input[type="checkbox"] + .handle {
	width: 0.8em;
	height: 0.8em;
	background: rgba(255, 255, 255, 0.3);
	display: inline-block;
	position: relative;
	right: 1.45em;
	border-radius: 50%;
	pointer-events: none;
	transition: right 0.3s, background 0.2s;
}

input[type="checkbox"]:hover + .handle {
	background: rgba(255, 255, 255, 0.5);
}

input[type="checkbox"]:checked + .handle {
	right: 0.55em;
}

select {
	height: 1.9em;
	padding: 0.25em 0.75em;
	margin: calc(0.5em + 5px) 5px;
	background-color: transparent;
	background-image: url("img/button/dropdown.svg");
	background-size: 1em;
	background-position: calc(100% - 0.75em);
	background-repeat: no-repeat;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.75);
	font-family: Arimo;
	transition: margin 0.3s, border 0.3s;
}

select:focus {
	color: black;
	border: 1px solid var(--accent);
}

/* input[type="range"] { */
/* 	height: 1.4em; */
/* 	padding: 0 0.2em; */
/* 	background: rgba(0, 0, 0, 0.5); */
/* 	cursor: ew-resize; */
/* 	border-radius: 0.7em; */
/* } */
/*  */
/* input[type="range"]::-webkit-slider-thumb { */
/* 	width: 1em; */
/* 	height: 1em; */
/* 	background: rgba(255, 255, 255, 0.3); */
/* 	border: none; */
/* 	outline: none; */
/* 	border-radius: 50%; */
/* 	-webkit-appearance: none; */
/* } */

@keyframes slide-in {
	from {
		left: 0;
		width: 0;
	}

	to {
		left: 0;
		width: 100%;
	}
}

/* util */

.hidden {
	opacity: 0;
	pointer-events: none;
}

.immortal {
	pointer-events: none;
}

.disabled {
	display: none !important;
}

.button {
	padding: 0.6em 0.7em;
	margin-left: 0.8em;
	background: rgba(0, 0, 0, 0.2);
	display: inline-block;
	border-radius: 0.5em;
	font-size: 0.9em;
	cursor: pointer;
}

.button.primary {
	background: var(--accent);
}

.avatar {
	width: 1em;
	height: 1em;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.avatar.none {
	background: var(--accent);
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar.none::before {
	content: attr(data);
	color: white;
	text-transform: uppercase;
	font-size: 0.6em;
}

.actions > * {
	width: 1.4em;
	height: 1.4em;
	display: inline-block;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.actions > .settings { background-image: url("img/button/settings.svg"); }
.actions > .logout   { background-image: url("img/button/logout.svg");   }
.actions > .minimize { background-image: url("img/button/minimize.svg"); }
.actions > .maximize { background-image: url("img/button/maximize.svg"); }
.actions > .close    { background-image: url("img/button/close.svg");    }

/* fonts */

@font-face {
	font-family: Arimo;
	src: url(./font/Arimo-Regular.woff);
}

@font-face {
	font-family: FiraMono;
	src: url(./font/FiraMono-Regular.otf);
}

/* titlebar */

.titlebar {
	height: 2.4em;
	display: flex;
	align-items: center;
	-webkit-app-region: drag;
	cursor: default;
}

.titlebar > * {
	-webkit-app-region: no-drag;
}

.titlebar > .left {
	flex: 1;
}

.titlebar > .actions {
	margin-right: 0.4em;
	display: flex;
}

/* loading screen */

.splash {
	width: 100vw;
	height: 100vh;
	background: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	transition: opacity 0.3s;
}

.splash::before {
	content: "";
	width: 100vw;
	height: 100vh;
	background-image: url(img/loading.png);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.2;
	filter: blur(0.5em);
}

.splash > .logo {
	width: 5em;
	height: 5em;
	position: relative;
}

.splash > .logo::before {
	content: "";
	width: 5em;
	height: 5em;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid transparent;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-radius: 50%;
	animation: rotate 1s reverse infinite linear;
}

.splash > .logo::after {
	content: "";
	width: 2em;
	height: 2em;
	display: block;
	position: absolute;
	top: 1.5em;
	left: 1.5em;
	border: 2px solid transparent;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-radius: 50%;
	animation: rotate 1s infinite linear;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

/* context menu */

.context-container {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.001);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}

.context-container > .context {
	padding: 0.5em 0;
	background: #161616;
	position: absolute;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
	border-radius: 0.3em;
}

.context-container > .context > * {
	padding: 0.1em 1.5em;
	cursor: default;
	transition: background 0.2s;
}

.context-container > .context > *:hover {
	background: rgba(255, 255, 255, 0.05);
}

/* dialogs */

.dialog {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	transition: opacity 0.3s;
}

.dialog .dialog-box {
	background: #262626;
	border-radius: 0.3em;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.8);
}

.dialog .dialog-content {
	padding: 1.5em;
}

.dialog .dialog-box > .buttons {
	padding: 0.8em;
	background: #161616;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	text-align: right;
}

.dialog .image-preview {
	max-width: 50vw;
	max-height: 50vh;
	display: block;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.8);
}

.dialog .image-preview-link {
	padding: 0.5em;
	color: #ccc;
	display: flex;
	align-items: center;
	font-size: 0.9em;
}

.dialog .image-preview-link span {
	color: var(--accent);
	text-decoration: underline;
	cursor: pointer;
}

.dialog .image-preview-link .divider {
	width: 1px;
	height: 1.1em;
	margin: 0 0.3em;
	background: rgba(255, 255, 255, 0.2);
	display: inline-block;
}

/* login layout */

.wrapper.login {
	width: 100vw;
	height: 100vh;
	background: url(img/login.jpg) center / cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper.login > .titlebar {
	width: 100vw;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
}

.wrapper.login > .panel {
	padding: 2em;
	background: #161616;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	box-shadow: 0 0 1em 0 black;
	border-radius: 0.5em;
}

.wrapper.login > .panel form {
	display: flex;
	justify-items: center;
	flex-direction: column;
}

/* chat layout */

.wrapper.chat {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.wrapper.chat > .room-list-container {
	width: 240px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.room-list-container > .room-menu {
	height: 2.4em;
	background: #161616;
	display: flex;
	align-items: center;
}

.room-list-container > .room-list {
	padding: 0.5em 0;
	flex: 1;
	overflow: auto;
	overflow-y: auto;
}

.room-list-container > .main-menu {
	height: 2.4em;
	padding-left: 0.4em;
	padding-right: 0.1em;
	background: #161616;
	display: flex;
	align-items: center;
}

.wrapper.chat > .content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.wrapper.chat > .content > .titlebar {
	background: #161616;
}

.wrapper.chat > .content > .content-divider {
	display: flex;
	flex: 1;
}

.content-divider > .message-list-container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.message-list-container > .message-list {
	padding: 1em;
	flex: 1;
	font-size: 0.9em;
	overflow-y: auto;
	-webkit-user-select: initial;
}

.message-list-container > .message-list:empty {
	display: flex;
	align-items: center;
	justify-content: center;
}

.message-list-container > .message-list:empty::before {
	content: "...welcome to the hollow abyss which is your dashboard...";
	width: 240px;
	color: rgba(255, 255, 255, 0.5);
	display: block;
	text-align: center;
	font-style: italic;
}

.message-list-container > .messagebox {
	height: 2.4em;
	background: #161616;
}

.content-divider > .member-list {
	width: 240px;
	background: #161616;
	overflow: auto;
}

/* main menu */

.room-list-container > .main-menu > .avatar {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}

.room-list-container > .main-menu > .user-info {
	flex: 1;
	font-size: 0.9em;
	-webkit-user-select: initial;
}

.room-list-container > .main-menu > .user-info span {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8em;
}

.room-list-container > .main-menu > .user-info > :last-child {
	display: block;
	margin-top: -0.4em;
}

.room-list-container > .main-menu > .actions {
	display: flex;
	align-items: center;
}

.room-list-container > .main-menu > .actions > * {
	width: 1em;
	height: 1em;
	padding: 0.4em;
	background-size: 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	opacity: 0.8;
	transition: background-color 0.2s;
}

.room-list-container > .main-menu > .actions > *:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

/* room menu */

.room-list-container > .room-menu > .back {
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.5em;
	background: url("img/button/back.svg") center / contain;
	cursor: pointer;
}

.room-list-container > .room-menu > .room-title {
	height: 2.4em;
	padding: 0 0.5em;
	flex: 1;
	cursor: pointer;
	line-height: 2.4em;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	transition: background 0.2s;
}

.room-list-container > .room-menu > .room-title:hover {
	background: rgba(0, 0, 0, 0.2);
}

.room-list-container > .room-menu > .back.disabled + .room-title {
	padding-left: 0.8em;
	background: transparent !important;
	cursor: default;
}

/* room list */

.room-list > .category {
	padding: 0 0.3em;
	padding-bottom: 0.3em;
	margin: 0 0.5em;
	margin-bottom: 0.5em;
	color: rgba(255, 255, 255, 0.65);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 0.9em;
	cursor: pointer;
}

.room-list > .category.hidden {
	opacity: 1;
	pointer-events: initial;
}

.room-list > .category::after {
	content: "";
	width: 1em;
	height: 1em;
	display: block;
	opacity: 0.65;
	background: url("img/button/dropdown.svg") center / contain;
	transition: transform 0.3s;
}

.room-list > .category.hidden::after {
	transform: rotate(90deg);
}

.room-list > .list {
	margin-bottom: 0.5em;
}

.room-list > .list.hidden {
	display: none;
}

.room-list > .list > .room {
	height: 2em;
	padding: 0 1em;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent) no-repeat;
	background-position: -240px;
	border-left: 3px solid transparent;
	display: flex;
	align-items: center;
	font-size: 0.9em;
	cursor: pointer;
	transition: background-position 0.2s, border-left 0.2s;
}

.room-list > .list > .room:hover  {
	border-left: 3px solid var(--accent);
	background-position: 0;
}

.room-list > .list > .room.selected {
	border-left: 6px solid var(--accent);
	background-position: 0;
}

.room-list > .list > .room > .avatar {
	margin-right: 1em;
}

.room-list > .list > .room > span {
	flex: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* member list */

.member-list > .member {
	height: 2em;
	padding: 0 1em;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent) no-repeat;
	background-position: 240px;
	display: flex;
	align-items: center;
	font-size: 0.9em;
	text-align: right;
	cursor: pointer;
	transition: background-position 0.2s;
}

.member-list > .member:hover  {
	background-position: 0;
}

.member-list > .member > .avatar {
	margin-left: 1em;
}

.member-list > .member > span {
	flex: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* message list */

.message-list > .message > .author {
	margin: 0 0.5em;
	display: flex;
	align-items: center;
	word-break: break-word;
}

.message .avatar {
	margin-right: 0.5em;
}

.message-list > .message > .author > .title {
	margin-right: 0.5em;
	color: rgba(255, 255, 255, 0.65);
}

.message-list > .message > .author > .timestamp {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.7em;
}

.message-list > .message > .content {
	margin: 0 0.5em;
	word-break: break-word;
}

.message-list > .message > img.content {
	max-width: 50%;
	max-height: 50vh;
	margin-top: 0.3em;
	cursor: pointer;
}

.message-list > .message > .content.redacted::before {
	content: "REDACTED";
	width: 240px;
	padding: 0.2em;
	background: black;
	display: block;
	text-align: center;
	font-size: 0.9em;
}

.message-list > .message + .message::before {
	content: "";
	width: 100%;
	height: 1px;
	margin: 0.3em 0;
	display: block;
	background: rgba(255, 255, 255, 0.1);
}

.message > .avatar {
	margin-right: 0;
	margin-left: 0.5em;
	display: inline-block;
}

.message > .avatar.none {
	display: inline-flex;
}

.message.no-author > .author > .title {
	display: none;
}

.message.no-author > .author, .message.no-author > .content {
	margin-right: 0;
	display: inline-block;
}

/* message box */

.messagebox > form {
	width: 100%;
	height: 100%;
	display: flex;
}

.messagebox > form > input {
	height: 100%;
	padding: 0 1em;
	margin: 0;
	background: transparent;
	color: rgba(255, 255, 255, 0.75);
	flex: 1;
	font-family: Arimo;
}

/* settings */

.message-list.flex {
	padding: 0;
	display: flex;
}

.category-container {
	width: 240px;
	background: #161616;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.options-wrapper {
	display: flex;
	flex: 1;
	justify-content: center;
	overflow: auto;
}

.options-container {
	padding: 1em 0;
	width: 80%;
	max-width: 480px;
}

.options-container > .input-container {
	padding: 0.75em;
	width: 100%;
	display: flex;
}

.options-container textarea {
	height: 5em !important;
	display: block;
}

.options-container > .input-container > .title {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.options-container > .input-container > .title > :last-child {
	margin-top: -0.2em;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8em;
}

.options-container > .input-container > .checkbox-container {
	width: initial;
}

.options-container > .input-container > input[type="text"],
.options-container > .input-container > input[type="password"],
.options-container > .input-container > textarea {
	width: 12em;
}

.options-container > .input-container > select {
	width: 13.6em;
}
